body{
	height: 100%;
	text-align: center;
	background: url(/conc.jpg);
	    background-size:     cover;                      
	    background-repeat:   no-repeat;
	    background-position: center center;     
	
}

.jumbotron{
	background: rgba(255,255,255,0.7);
}

form{
	margin: 20px auto;
}

input{
	font-size: 24px;
}

.row_style{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
